body{
    background-color: crimson;
    
}
#from{
    width: 500px;
    height: 30px;
    border-radius: 30px;
}
.btn{
    height: 30px;
    cursor: pointer;
    border-radius: 30px;
}
input{
    width: 500px;
    height: 30px;
    border-radius: 30px;
}
.myarea{
    width: 450px;
    height: 30px;
    color: orange;
}

#para{
    width: 120px;
    height: 40px;
    background-color: yellow;
    margin: 20px;
    align-items: center;
    font-weight: 800;
}
#mydiv{
    width: 400px;
    height: 300px;
    background-color: yellowgreen;
}
#myinput{
    width: 360px;
    margin: 10px 20px;
}
#mybtn{
    width: 300px;
    margin: 0px 50px;
    height: 25px;
    border-radius: 50px;
}
#main{
    display: flex;
}
#div1{
    background-color: pink;
    height: 350px;
    width: 500px;
    border: 1px solid blue;
}
#div2{
    background-color: white;
    height: 350px;
    width: 500px;
    border: 1px solid blue;
}
#div3{
    background-color:pink;
    height: 350px;
    width: 500px;
    border: 1px solid blue;   
}
#input1{
    width: 350px;
    margin: 20px 2px;
    font-weight: 800;
}
#input2{
    width: 350px;
    margin: 20px 2px;
    font-weight: 800;
}
#mybtn1{
    width: 50px;
    height: 30px;
}
#div2 li{
    list-style-type: none;
}
#btnb{
    width: 50px;
    height:40px;   
}
#i1{
    width: 380px;
}
#btnt{
    margin-left: 120px;
}