body{
    background-color: crimson;
    
}
#from{
    width: 500px;
    height: 30px;
    border-radius: 30px;
}
.btn{
    height: 30px;
    cursor: pointer;
    border-radius: 30px;
}
input{
    width: 500px;
    height: 30px;
    border-radius: 30px;
}
.myarea{
    width: 450px;
    height: 30px;
    color: orange;
}

#para{
    width: 120px;
    height: 40px;
    background-color: yellow;
    margin: 20px;
    align-items: center;
    font-weight: 800;

}